version: '3.8'

services:
  api:
    build:
      context: .
    container_name: projeto-integrador-backend
    ports:
      - 8080:8080

    environment:
      DB_URL: mysql_db
      DB_PORT: 3306
      DB_DATABASE: projetoIntegrador
      DB_USERNAME: myuser
      DB_PASSWORD: mypass
      CONNECTION_POOL_MAX_SIZE: 2
      CONNECTION_POOL_MIN_SIZE: 5